DB_URL=jdbc:mysql://127.0.0.1:13306/nobodies?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8
DB_USERNAME=root
DB_PASSWORD=your_real_database_password

JWT_SECRET=your_real_jwt_secret_key_32_chars_minimum
JWT_EXPIRATION_SECONDS=7200

OSS_ENDPOINT=https://oss-cn-hangzhou.aliyuncs.com
OSS_ACCESS_KEY_ID=your_real_access_key_id
OSS_ACCESS_KEY_SECRET=your_real_access_key_secret
OSS_BUCKET=your_real_bucket
OSS_PRESIGN_DURATION_MINUTES=30

VITE_API_BASE_URL=http://localhost:8080
